//PRIMARY COLORS
$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57);

//NEUTRAL COLORS
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

$desktop-width-bp: 900px;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	background-color: $Light-gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: 'Ubuntu', sans-serif;

	background-color: $Light-gray;
	color: $Cool-gray;

	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width: $desktop-width-bp) {
		flex-direction: row;
		background-color: $White;
		width: 1000px;
		height: 600px;
		margin: 1rem;
		padding: 1rem;
		border-radius: 1rem;
	}
}

h1 {
	color: $Marine-blue;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h2 {
	color: $Marine-blue;
	font-size: 1rem;
	margin: 0.25rem;
}

p {
	font-weight: 400;
	margin: 0.25rem;
}
label {
	cursor: pointer;
}
.row-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.innactive {
	display: none;
}

nav {
	position: absolute;
	height: 30rem;
	width: 100%;
	display: flex;
	padding: 1rem;
	padding-top: 2rem;
	justify-content: center;
	background: no-repeat url('../../assets/images/bg-sidebar-mobile.svg');
	background-size: contain;
	.step {
		button {
			color: $White;
			font-weight: 700;
			margin: 0.6rem;
			width: 2rem;
			height: 2rem;
			border: 1px solid $Light-blue;
			border-radius: 50%;
			background: none;
		}
		.active {
			background-color: $Light-blue;
			color: $Marine-blue;
		}
		.step-desc {
			display: none;
			text-transform: uppercase;
			font-size: 0.8rem;
			p {
				margin: 0;
			}
			h3 {
				color: $White;
			}
		}
	}

	@media (min-width: $desktop-width-bp) {
		position: static;
		height: 100%;
		width: 274px;
		background: no-repeat url('../../assets/images/bg-sidebar-desktop.svg');
		background-size: cover;
		border-radius: 0.5rem;

		display: flex;
		flex-direction: column;
		justify-content: start;
		.step {
			margin: 0.6rem;
			display: flex;
			flex-direction: row;
			.step-desc {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

main {
	z-index: 2;
	max-width: 800px;
	background-color: $White;
	margin: 0.8rem;
	margin-top: 7rem;
	margin-bottom: 3rem;
	padding: 1.6rem;
	border-radius: 1rem;

	display: flex;

	flex-direction: column;
	align-items: center;
	.background {
		position: absolute;
		top: 0px;
		background-color: #c88686;
		height: 30vh;
		width: 100%;
		z-index: -1;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	@media (min-width: $desktop-width-bp) {
		margin: 5rem;
		height: 100%;
		justify-content: space-around;
		width: 40rem;
	}
	.step-1 {
		min-height: 24rem;
		input {
			color: $Marine-blue;
			// margin-bottom: 1.4rem;
			padding: 1rem;
			width: 100%;
			height: 2rem;
			border-radius: 0.4rem;
			font-weight: 500;
			border: 1px solid $Light-gray;
			letter-spacing: 1px;
		}
		.warning {
			border: 1px solid red;
		}

		.input-data {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0.2rem;
			margin-top: 1.4rem;
			font-size: 0.8rem;
			p {
				color: $Marine-blue;
			}
			.warning {
				color: $Strawberry-red;
				border: none;
			}
			.warning-email {
				color: $Strawberry-red;
				border: none;
			}
		}
	}
	.step-2 {
		min-height: 24rem;

		.input-plan {
			display: flex;
			align-items: center;
			padding: 0.5rem;
			margin: 0.5rem;
			margin-top: 1.4rem;
			margin-bottom: 1.4rem;
			border: 0.1rem solid $Light-gray;
			background-color: $Alabaster;
			border-radius: 0.6rem;
			cursor: pointer;

			.icon {
				width: 2.6rem;
				height: 2.6rem;
				margin-right: 1rem;
				border-radius: 50%;
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
			.bonus {
				display: none;
				color: $Marine-blue;
				font-size: 0.8rem;
			}
		}
		.active {
			border-color: $Purplish-blue;
			background-color: $Magnolia;
		}
		@media (min-width: $desktop-width-bp) {
			.plan-container {
				display: flex;
				.input-plan {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: start;
					padding: 1rem;
					height: 10rem;
					width: 9rem;
					.icon {
						margin: 0;
					}
				}
			}
		}
		.period-switch {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 3rem 1rem 1.4rem 1rem;
			.switch {
				display: flex;

				input[type='checkbox'] {
					display: none;
					&:checked + label {
						background-color: $Marine-blue;
						&:before {
							transform: translateX(30px);
							background-color: $Alabaster;
						}
					}
				}
				label {
					width: 50px;
					height: 20px;
					border-radius: 99em;
					position: relative;
					transition: transform 0.25s ease;
					transform-origin: 50% 50%;
					background-color: $Marine-blue;
					cursor: pointer;

					&:before {
						transition: transform 0.25s ease;
						content: '';
						display: block;
						margin: 3px;
						width: 14px;
						height: 14px;
						background-color: $Alabaster;
						border-radius: 50%;
					}
				}
			}
			.selected {
				font-weight: 500;
				color: $Marine-blue;
			}
		}
	}
	.step-3 {
		min-height: 24rem;

		.input-addon {
			justify-content: space-between;
			padding: 0.4rem;
			margin-top: 1.4rem;
			margin-bottom: 1.4rem;
			border: 0.1rem solid $Light-gray;
			background-color: $Alabaster;
			border-radius: 0.6rem;

			input {
				display: none;
			}
			input:checked + .input-checkbox {
				background-color: $Purplish-blue;
			}
			.input-checkbox {
				margin: 0 0.6rem;
				width: 24px;
				height: 24px;
				border: 0.1rem solid $Light-gray;
				border-radius: 0.4rem;
				background: no-repeat url('/assets/images/icon-checkmark.svg');
				background-position: center;
				background-size: 70%;
			}
			.about {
				p {
					font-size: 12px;
				}
			}
			.price {
				color: $Purplish-blue;
				font-size: 14px;
				font-weight: 400;
				margin: 0 0.4rem;
			}
		}
		.active {
			border-color: $Marine-blue;
			background-color: $Magnolia;
		}
		@media (min-width: $desktop-width-bp) {
			width: 100%;
			.input-addon {
				height: 5rem;
			}
		}
	}
	.step-4 {
		min-height: 24rem;

		.summary {
			background-color: $Magnolia;
			border-radius: 0.8rem;
			margin: 1rem 0;
			padding: 0.2rem 1rem;
			.chosen-item {
				justify-content: space-between;
				margin: 1rem 0;
				.change {
					text-decoration: underline;
					cursor: pointer;
				}
				.plan-price {
					color: $Marine-blue;
					font-weight: 500;
				}
				.addon-price {
					color: $Marine-blue;
				}
			}
			hr {
				border: none;
				height: 1px;
				background-color: $Light-gray;
			}
		}
		.total {
			margin: 1rem 0;
			padding: 0.2rem 1rem;
			justify-content: space-between;
			.total-price {
				color: $Purplish-blue;
				font-weight: 500;
				font-size: 1.2rem;
			}
		}
		@media (min-width: $desktop-width-bp) {
			width: 100%;
		}
	}
	.step-5 {
		align-items: center;
		text-align: center;
		margin: 4rem 0.2rem;
		img {
			height: 4rem;
		}
		h1 {
			font-size: 1.8rem;
		}
		p {
			line-height: 1.6rem;
		}
	}
	.step-btns {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: $White;
		.blank {
			opacity: 0;
			pointer-events: none;
		}
		button {
			margin: 1rem;
			height: 2.4rem;
			width: 6rem;
			background: none;
			border: none;
			color: $Cool-gray;
			font-size: 0.8rem;
			font-weight: 500;
			letter-spacing: 1px;
			cursor: pointer;
		}
		.next-step {
			background-color: $Marine-blue;
			color: $White;
			border-radius: 0.2rem;
		}
		.final {
			background-color: $Purplish-blue;
		}
		@media (min-width: $desktop-width-bp) {
			position: static;
		}
	}
}
footer {
	z-index: 2;
	position: absolute;
	bottom: 0;

	height: 1rem;

	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}
